<div id="mam" class="collapse" data-parent="#myGroup" >  
<h3>MAM</h3>
<div>  <%- include('navmam'); %></div>
            <div id="mamGroup" >    
                <%- include('ffmpeg'); %>
                <%- include('ebucoremetadata'); %>
                <%- include('copyandproxyprogram'); %>
                <%- include('batchtrasncode'); %>
                <%- include('watchfolder'); %>
                <%- include('youtubedownloader'); %>
         
            </div>          
</div>